:root {
    /* Breakpoints */
    --breakpoint-xs: 576px;
    --breakpoint-sm: 768px;
    --breakpoint-md: 992px;
    --breakpoint-lg: 1200px;
    --breakpoint-xl: 1408px;
  
    /* Colors */
    --selection-color: #D4EEFF;
    --hr-color: #E8EDF1;
  }
  
  * {
    box-sizing: border-box;
  }
  
  :focus,
  :focus-visible {
    /* TODO: Change focus styles */
    outline: 2px solid var(--blue-6);
    outline-offset: 2px;
  }
  
  :focus:not(:focus-visible) {
    outline: none;
  }
  
  img {
    display: block;
  }
  
  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  p {
    margin: 0;
  }
  
  html {
    color: #232360;
    font-family: 'DM Sans', sans-serif;
  }
  
  ::-moz-selection {
    background: var(--selection-color);
    text-shadow: none;
  }
  
  ::selection {
    background: var(--selection-color);
    text-shadow: none;
  }
  
  hr {
    display: block;
    width: 100%;
    height: 1px;
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid var(--hr-color);
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    overflow: hidden;
    white-space: nowrap;
    clip: rect(0, 0, 0, 0);
  }
  
  body {
    min-height: 100vh;
  }