{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  {% block title %}
  <title>Pulseboard - Best Task Manager</title>
  {% endblock %}

  {% block description %}
  <meta
    name="description"
    content="Pulseboard is a task manager that helps you manage your tasks and projects."
  >
  {% endblock %}

  <meta charset="utf-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1"
  >
  <link
    rel="stylesheet"
    href="{% static 'css/normalize.css' %}"
  >
  <link
    rel="stylesheet"
    href="{% static 'css/styles.css' %}"
  >
  <link
    rel="stylesheet"
    href="{% static 'css/auth.css' %}"
  >

  <!-- Google Fonts -->
  <link
    rel="preconnect"
    href="https://fonts.googleapis.com"
  >
  <link
    rel="preconnect"
    href="https://fonts.gstatic.com"
    crossorigin
  >
  <!-- TODO: Optimize weights -->
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet"
  >

  <!-- TODO: Add favicon -->
  <link
    rel="icon"
    href="/favicon.ico"
  >
  <link
    rel="apple-touch-icon"
    href="/favicon.ico"
  >
</head>

<body class="auth-page">
  <div class="auth-container">
    {% block content %}{% endblock %}
  </div>

  {% block scripts %}{% endblock %}
</body>

</html>